
.left{
	float : left;
}
.right{
	float: right;

}
#navbar{
	background-color: #303238;
}
#navbar1{
	background-color: #071724;
}
#logo{
	width: 200px;
	height: 200px;
}
.bawah{

}
#bulan{
	width: 100px;
	height: 60px;
}
.quotation{
  font-size: 30px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 20px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
footer{
  margin:0;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.foto1{
	background-color: #071724;	
}
#fotoke1{
	margin-left: 30px;
	width: 700px;
	height: 350px;
}
* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
.open-req{
	background-color: #071724;
}
#openreq{
	margin-top: 10px;

	height: 2s00px;
	width: 200px;

}
#deskripsi{
	margin-top: 20px;
	color: white;
}
.contact{
	margin-top: 50px;
	background-color: #071724;
	color: #FFF;

}
#discord{
	margin-top: 15px;
	height: 150px;
	width: 150px;
}
#deskripsi1{
	margin-top: 35px;
}
#contactus{
	color:#FFF;
 }
 .right{
 	float: right;
 }
 .jasa{
 	margin-top: 50px;
 }
 #jasa1{

 	width: 600px;
 	height: 300px;
 }
 .work-box{
 	    background-color: white;
 	    margin-bottom: 3rem;	
 	    width: 600px;
 	    height: 380px; 	  
 	     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
 }
 .bdn{
 	margin-top: 10px;
 }
 .line{
 	width: 40px;
    height: 5px;
    background-color: red;
    margin: 0 auto;
 }
 .line1{
 	width: 40px;
    height: 5px;
    background-color: black;
    margin: 0 auto;
 }
 .line2{
 	width: 40px;
    height: 5px;
    background-color: #deb328;
    margin: 0 auto;
 }