
.left{
	float : left;
}
.right{
	float: right;

}
#navbar{
	background-color: #303238;
}
#navbar1{
	background-color: #071724;
}
#logo{
	width: 200px;
	height: 200px;
}
.bawah{

}
#bulan{
	width: 100px;
	height: 60px;
}
.quotation{
  font-size: 30px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 20px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
footer{
  margin:0;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.foto1{
	background-color: #071724;	
}
#fotoke1{
	margin-left: 30px;
	width: 700px;
	height: 350px;
}
* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
.open-req{
	background-color: #071724;
}
#openreq{
	margin-top: 10px;

	height: 2s00px;
	width: 200px;

}
#deskripsi{
	margin-top: 20px;
	color: white;
}
.contact{
	margin-top: 20px;

}
#discord{
	
	height: 200px;
	width: 200px;
}
#contactus{
	color:
 }