.done-work{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.work-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.main-content{
  margin: auto;
  width: 60%;
  padding: 10px;
}
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}.carousel-control-next /*, .carousel-indicators */ {
    filter: invert(100%);
}.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.dhealth{
  width :100px !important
}
a{
  text-decoration: none !important;
}
.left{
	float : left;
}
.right{
	float: right;

}
#navbar{
	background-color: #303238;
}
#navbar1{
	background-color: #071724;
}
#logo{
	width: 200px;
	height: 200px;
}
.bawah{

}
#bulan{
	width: 100px;
	height: 60px;
}
.quotation{
  font-size: 20px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 20px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: block;
  height: 0;
  line-height: 0;
  left: -340px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em; 
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  /* left: 10px; */
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
footer{
  /* margin:0; */
  /* text-align: center; */
  font-size: 1.5em;
  /* font-style: italic; */
}
.foto1{
	background-color: #071724;	
}
#fotoke1{
	margin-left: 30px;
	width: 700px;
	height: 350px;
}
* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
.open-req{
	background-color: #071724;

}
.socmed-tab{
  background-color: #071724;

}
#openreq{
	margin-top: 10px;

	height: 2s00px;
	width: 200px;

}
#deskripsi{
	margin-top: 20px;
	color: white;
}
.contact{
	margin-top: 50px;
	background-color: #071724;
	color: #FFF;

}
#discord{
	margin-top: 5px;
	height: 150px;
	width: 150px;
}
#deskripsi1{
	margin-top: 20px;
}
#contactus{
	color:#FFF;
 }
 .right{
 	float: right;
 }
 .jasa{
 	margin-top: 50px;
 }
 #jasa1{

 	width: 600px;
 	height: 300px;

 }
 .work-box{
 	    background-color: white;
 	    margin-bottom: 3rem;	
 	    width: 600px;
 	    height: 380px; 	  
 	     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
 }
 .bdn{
 	margin-top: 10px;
 }
 .line{
 	width: 40px;
    height: 5px;
    background-color: red;
    margin: 0 auto;
 }
 .line1{
 	width: 40px;
    height: 5px;
    background-color: black;
    margin: 0 auto;
 }
 .line2{
 	width: 40px;
    height: 5px;
    background-color: #deb328;
    margin: 0 auto;
 }#gambar1{
    border-radius: 100%;
}
.judul{
  text-align:center;
}#portofolios{
  width:80px;
  border-radius: 20%;
  margin-top: 20px;
    margin-right:20px;
    margin-bottom: 32px;
}.center{
  text-align: center;

}
.tmra{
  height: 400px;
  width: 800px;
}
.livechat{
  height: 500px !important;
}
#portofolio{
  min-height: 200px !important;
}.socmed{
  min-height: 300px !important;
}.project{
  min-height: 200px !important;
}.block{
  display: block;
  margin-top:5px !important;
}.target{
  color : black !important;
  text-align: left;
  margin: 2%;
}.utm{
  width:600px !important;
  height: 338px !important;
}.image_comment{
  font-size: 13px !important;
}
.content {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  width : 50%;
    margin: auto;
    margin-bottom: 50px !important;
    font-family: 'Lato', sans-serif;
    box-shadow: 5px 5px #cccc;
}html,body{
    overflow-x: hidden !important;
}   
@media (max-width:1281px) { 
/* hi-res laptops and desktops */ 
.main-content{
  /* padding: 50px; */
  width: 80%;
}
.done-work b{
  font-size: 30px !important;
}
.open-req{
    height: 300px;
  } 
  .jasa{
    min-height: 300px;
  }.quotation{
    font-size: 30px ;
  }#gambar1{
    width: 30%;
  }footer{
    font-size: 40px ;
  }
  #portofolios{
    width: 150px !important ;
    margin-top: 40px;

    margin-right:50px;
  }.judul{
    font-size : 30px ;
  }.socmed-tab{
    height: 520px;
  }.lovia_content{
    font-size: 30px !important;
  }.image_comment{
    font-size: 15px !important;
  }.content {
    width: 80%;
  }
}
/*  */
